body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-image: url(images/bgimage.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #72a3b8;
}

#header {
  background-color: #dddddd;
}

#footer {
  clear: both;
  background-color: #dddddd;
  padding-left: 40%;
}

#left-sidebar {
  width: 200px;
  float: left;
  position: relative;
  z-index: 2;
}

#content {
  background-color: #eeeeee;
  float: right;
  width: 100%;
  box-sizing: border-box;
  margin-left: -200px;
  padding-left: 200px;
}
      
#imageBody{
  width: 200px;
  height: 200px;
}

#pic{
  object-fit: contain;
  max-width: 200px;
  max-height: 200px;
}

.sentimentBody{
  width: 50px;
  height: 50px;
}

#sentimentPic{
  object-fit: contain;
  max-width: 50px;
  max-height: 50px;
}
.swal{
  height: 1000px !important;
  width:850px !important;
}
.swal-overlay {
  background-color: rgba(7, 17, 20, 0.55);
}
/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */


#headings{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

#select{
  font-size: 30px;
  font-style: oblique;
}

.summaryText{
  border: thin solid blue;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
}
 
.sumTextSpace {
  position: relative;
  top: -47px;
  background: white;
  padding: 7px;
  width: 106px;
  color: blue;
}

.rating_bar {
  /*this class creats 5 stars bar with empty stars */
  /*each star is 16 px, it means 5 stars will make 80px together */
  width: 80px;
  /*height of empty star*/
  height: 16px;
  float: inline-end;
  /*background image with stars */
  background: url(images/stars.png);
  /*which will be repeated horizontally */
  background-repeat: repeat-x;
  /* as we are using sprite image, we need to position it to use right star, 
  //0 0 is for empty */
  background-position: 0 0;
  /* align inner div to the left */
  text-align: left;
}
.rating {
  /* height of full star is the same, we won't specify width here */
  height: 16px;
  /* background image with stars */
  background: url(images/stars.png);
  /* now we will position background image to use 16px from top, 
  //which means use full stars */
  background-position: 0 -16px;
  /* and repeat them horizontally */
  background-repeat: repeat-x;
}

.colorBarHolder{
  margin: 50px;
  width: 200px;
  height: 100px;

}

#colorbar{
  object-fit: contain;
  max-width: 200px;
  max-height: 100px;
}